
.navbar{
    display: none;
}



.navbarController{
    display: none;
}







@media (max-width: 780px) {
.navbarController{
display: block;
padding:5px 10px 5px 25px;
font-size: 20px;
color: $color3;


   input{
    display: none;
    cursor:pointer;
   }

} 

.navbar{
    position: fixed;
    z-index: 3;
    margin-top: 74px;
    height: calc(100% - 74px);
    width: 70%;
    background:$color10;
    padding: 0px 30px 20px 25px;
    color: $color13;
    overflow-y: auto;
    display: block;
    margin-left: -80%;
    transition: 0.8s;
}

.subNav1{
    margin-bottom: 60px;

    div{
        border-bottom: 1px solid $color2 !important;
    }

    a{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 5px 0;
        margin: 5px 0;
        font-family: poppinsLight;
    }
}

.subNav2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
        padding: 10px 13px;
        background: $color2;
        color: $color3;
        font-family: poppinsRegular;
        border-radius: 5px;
        font-size: 13px;
    }

    button{
        padding: 10px 13px;
        background: $color2;
        color: $color3;
        font-family: poppinsRegular;
        border-radius: 5px;
        font-size: 13px;
        border:none;
        cursor: pointer;
    }
}
}